@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply px-6 py-2 text-white bg-[#5C5C5C] rounded-md focus:outline-none text-center;
  }
}

@layer utilities {
}

@layer base {
  body {
    @apply m-0 font-dmSans;
  }
}
